<div
    class="flex-1 min-w-fit space-y-2 hover:shadow-md hover:shadow-[#008080] p-3 transition ease-in-out duration-300 rounded-md"
>
    <div class="flex items-center space-x-4">
        <div class="bg-[#008080] p-3 rounded-full text-white">
            <span class="tabler--keyboard w-10 h-10"></span>
        </div>
        <h2 class="text-2xl font-bold">baraboard</h2>
    </div>
    <div class="flex flex-col gap-2">
        <p class="text-xl">A macropad made from scratch.</p>
    </div>
    <h3 class="text-lg font-semibold">Made using</h3>
    <div class="flex flex-wrap">
        <div class="m-1">
            <span class="file-icons--kicad hover:text-[#008080] w-6 h-6"></span>
        </div>
    </div>
    <div class="flex justify-between">
        <a class="block" href="https://github.com/Baraban511/baraboard">
            <p
                class="cursor-pointer text-[#008080] inline-flex items-center group"
            >
                See
                <span
                    class="tabler--chevron-right inline-block w-5 h-5 transition group-hover:translate-x-0.5"
                    aria-hidden="true"></span>
            </p>
        </a>
        <p class="text-gray-500">Made in 2024</p>
    </div>
</div>
