<div
    class="flex-1 min-w-fit space-y-2 hover:shadow-md hover:shadow-[#008080] p-3 transition ease-in-out duration-300 rounded-md"
>
    <div class="flex items-center space-x-4">
        <div class="bg-[#008080] p-3 rounded-full text-white">
            <span class="tabler--brand-astro w-10 h-10"></span>
        </div>
        <h2 class="text-2xl font-bold">This site</h2>
    </div>
    <div class="flex flex-col gap-2">
        <p class="text-xl">
            A simple portfolio coded by me, but with big lacks of design.
        </p>
    </div>
    <h3 class="text-lg font-semibold">Made using</h3>
    <div class="flex flex-wrap">
        <div class="m-1">
            <span class="tabler--brand-astro hover:text-[#008080] w-6 h-6"
            ></span>
            <span class="simple-icons--bun hover:text-[#008080] w-6 h-6"
            ></span><span
                class="tabler--brand-tailwind hover:text-[#008080] w-6 h-6"
            ></span><span
                class="line-md--iconify2-static hover:text-[#008080] w-6 h-6"
            ></span><span
                class="tabler--brand-cloudflare hover:text-[#008080] w-6 h-6"
            ></span>
        </div>
    </div>
    <div class="flex justify-between">
        <p class="text-gray-500">Made in 2024</p>
    </div>
</div>
