---
import Layout from "../../layouts/Layout.astro";
import Loading from "../../components/Loading.astro";
import RepoCode from "../../components/RepoCode.astro";
---

<Layout title="Home">
    <div>
        <RepoCode server:defer><Loading slot="fallback" /></RepoCode>
    </div>
</Layout>
