---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
    <head>
        <link rel="preload" href="/house.splinecode" as="fetch" />
    </head>
    <div id="loading" class="flex items-center justify-center text-xl">
        <p>Loading...</p>
    </div>
    <canvas id="canvas3d"></canvas>
    <script>
        import { Application } from "@splinetool/runtime";

        const canvas = document.getElementById("canvas3d");
        const app = new Application(canvas);

        app.load("/house.splinecode", undefined, {
            credentials: "include",
            mode: "no-cors",
        }).then(() => {
            document.getElementById("loading").remove();
        });
    </script>
</Layout>
