---
import { Image } from "astro:assets";
import astroLogoDark from "../content/astro-logo-dark.svg";
import barabLogoSimple from "../content/barab_logo_simple.png";
import { Icon } from "astro-icon/components";
const links = [
    { name: "EDC", href: "https://edc.barab.live" },
    { name: "EDC - old", href: "https://barab.ovh" },
    { name: "CO2 internship", href: "https://data.barab.live" },
    { name: "Mail", href: "mailto:contact@barab.live?subject=Contact" },
];
---

<div
    class="bg-[#fbffee] flex flex-col md:flex-row w-full max-w-screen gap-8 md:gap-16 px-8 text-sm pt-8"
>
    <div class="flex-1">
        <div class="flex items-center gap-1">
            <Image src={barabLogoSimple} alt="barab. logo" class="h-6 w-auto" />
        </div>
        <div class="text-gray-500 mb-2 select-all">Learning developer</div>
        <img
            src="https://wakatime.com/badge/user/45f0ba86-46c8-41e2-8b47-b13184fb2b11/project/9335871f-f383-4abe-acf3-65e6092ebdd3.svg"
            alt="wakatime"
            class="h-6"
        />
        <a href="https://astro.build">
            <Image
                src={astroLogoDark}
                alt="Astro logo"
                class="mt-2 h-7 w-auto"
            />
        </a>
    </div>

    <div class="mb-4">
        <div class="font-bold">Randoms links</div>
        <ul class="mt-2">
            {
                links.map((link) => (
                    <li class="mt-2">
                        <a
                            class="text-gray-500 hover:text-[#008080]"
                            href={link.href}
                        >
                            {link.name}
                        </a>
                    </li>
                ))
            }
        </ul>
    </div>

    <div class="text-gray-500 space-y-2">
        <div class="text-xs">
            Copyright © 2024 barab.<br />
            All right reserved.
        </div>

        <div class="flex items-center justify-start">
            <a
                href="https://github.com/Baraban511"
                class="flex hover:text-[#008080] items-center"
                aria-label="GitHub"
                ><Icon name="tabler:brand-github" class="w-6 h-6" /></a
            ><iframe
                src="https://github.com/sponsors/Baraban511/button"
                title="Sponsor barab"
                height="32"
                width="114"
                class="ml-3 rounded-md"></iframe>
        </div>
    </div>
    <div class="text-gray-500 space-y-2 flex flex-col">
        <Icon name="tabler:xbox-a" class="hover:text-[#008080] w-6 h-6" />
        <Icon name="tabler:xbox-b" class="hover:text-[#008080] w-6 h-6" />
        <Icon name="tabler:xbox-x" class="hover:text-[#008080] w-6 h-6" />
        <Icon name="tabler:xbox-y" class="hover:text-[#008080] w-6 h-6" />
    </div>
</div>
