---
import { Icon } from "astro-icon/components";
---

<div class="flex flex-col items-center justify-center grow">
    <Icon name="tabler:chart-circles" class="animate-spin text-9xl" />
    <p class="text-xl font-semibold">Loading...</p>
</div>
