<div class="flex flex-col items-center justify-center grow">
    <span class="tabler--chart-circles animate-spin text-9xl w-32 h-32" ></span>
    <p class="text-xl font-semibold">Loading...</p>
</div>
