---
import fetchRepoContent from "../functions/fetchRepoContent.ts";
import { Code } from 'astro:components';
var files = await fetchRepoContent(
    "Baraban511",
    "NSI",
    "",
    import.meta.env.GITHUB_PAT,
);
---

<div class="flex flex-col items-center justify-center">
    {
        files.map((file) => {
            return (
                <div class="flex flex-col items-center justify-center w-full p-8">
                    <p class="text-xl font-semibold">{file.name}</p>
                    <Code
                      code={file.content}
                      lang="py"
                      class="w-full text-wrap m-2 rounded border border-gray-500 overflow-auto"
                    />
                </div>
            );
        })
    }
</div>
