---
const { success, message } = Astro.props;
import { Image } from 'astro:assets';
import thumbsUp from "../content/thumbs-up.png";
import crossMark from "../content/cross-mark.png"
---
<div class={`fixed bottom-0 left-0 min-w-80 m-5 p-3 rounded-sm border-2 border-dashed bg-[#fbffee]`} style={`border-color: ${success ? "#008080" : "black"};`}>
<div class='flex flex-row items-center gap-1'>{success ? (<Image src={thumbsUp} alt="Thumbs Up" class="size-4 "/>) : <Image src={crossMark} alt="Cross Mark" class="size-4 "/>}<p class="text-lg font-bold">{message.title}</p></div>
<p>{message.text}</p>
</div>
