---
import Layout from "@layouts/Layout.astro";
import "@assets/styles/blog.css";
const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
    <div class="flex flex-col items-center justify-center">
        <div class="text-left text-4xl p-4">{frontmatter.title}</div>
        <div
            class="text-left p-4 max-w-xl"
            id="blog-content"
        >
            <slot />
        </div>
    </div>
</Layout>
