---
import Layout from "@layouts/Global.astro";
import "@assets/styles/blog.css";
const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title} active="/blog">
    <div class="flex flex-col items-center justify-center">
        <div class="text-left text-4xl p-4">{frontmatter.title}</div>
        <div
            class="text-left p-4 max-w-xl"
            id="blog-content"
        >
            <slot />
        </div>
        <hr class="w-full border-gray-300 m-5" />
    <div class="giscus p-5"></div>
    </div>

    <script is:inline src="https://giscus.app/client.js"
            data-repo="Baraban511/barab.me"
            data-repo-id="R_kgDOMoVwAg"
            data-category="Post"
            data-category-id="DIC_kwDOMoVwAs4Cqsl7"
            data-mapping="title"
            data-strict="0"
            data-reactions-enabled="1"
            data-emit-metadata="0"
            data-input-position="top"
            data-theme="light"
            data-lang="en"
            data-loading="lazy"
            crossorigin="anonymous"
            async>
    </script>
</Layout>
