---
import '../content/styles/base.css';
// Supports weights 100-900
import '@fontsource-variable/noto-sans';
import notoSans from '@fontsource-variable/noto-sans/files/noto-sans-latin-wght-normal.woff2?url';
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="preload" as="font" type="font/woff2" href={notoSans} crossorigin="anonymous" />
		<title>barab.{title ? " - " + title : ""}</title>
		<meta name="title" content="barab. - Developer" />
		<meta
			name="description"
			content="I'm barab, an in learning developer. This website is my portfolio."
		/>
		<link rel="canonical" href="https://barab.me/" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="barab." />
		<meta property="og:url" content="https://barab.me" />
		<meta property="og:image" content="https://barab.pages.dev/logo.png" />
		<meta
			property="og:description"
			content="My website made by my hands and brain (+ some docs)"
		/>
	</head>
	<body class="bg-[#fbffee]">
		<Header active={Astro.url.pathname} />
		<slot />
		<Footer />
	</body>
</html>