---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="/styles.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>barab.{title ? " - " + title : ""}</title>
		<meta name="title" content="barab. - Developer" />
		<meta
			name="description"
			content="I'm barab, an in learning developer. This website is my portfolio."
		/>
		<link rel="canonical" href="https://barab.me/" />
	</head>
	<body class="bg-[#fbffee]">
		<Header active={Astro.url.pathname} />
		<slot />
		<Footer />
	</body>
</html>
